<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>

<div id="welcome">
    <h1>Welcome</h1>
</div>

<div id="login">
    <form action = "/login/" method="post">
    <p>
        <label for="id_username">User:</label>
        <input type="text" id="id_username" name="username" placeholder="Your Username" autofocus required/>
    </p>
    <p>
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" placeholder="Enter your password" required/>
    </p>
    <input type="submit" value="Log in"/>
    </form>
</div>
</body>
</html>